/* 컨텐츠 */
#contents {
 
}
#contents .wrap {
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
}
#contents .wrap h2 {
    width: 100%;
    padding: 60px 0 28px;
}
#contents .wrap .left{
    width: calc((100% - 50px) / 4 * 3);
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}
#contents .wrap article {
  width: calc((100% - 100px) / 3);

}
#contents .wrap article:nth-of-type(1){
}
#contents .wrap article:nth-of-type(2){
}
#contents .wrap article:nth-of-type(3){
}
#contents .wrap article:nth-of-type(4){
}
#contents .wrap article:nth-of-type(5){
}
#contents .wrap article:nth-of-type(6){
}
#contents .wrap article:nth-of-type(n+5){
  padding-top: 50px;
}
#contents .wrap article a {
 
}
#contents .wrap article a::before {
  content: "";
  display: block;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contents .wrap article:nth-child(1) a::before{
  background-image: url(../img/20230209946028.jpg);
  height: 212px;
}
#contents .wrap article:nth-child(2) a::before{
  background-image: url(../img/20220714236367.png);
  height: 336px;
}
#contents .wrap article:nth-child(3) a::before{
  background-image: url(../img/20221201798999.jpg);
  height: 338.633px;
}
#contents .wrap article:nth-child(4) a::before{
  background-image: url(../img/20221201954894.jpg);
  height: 212px;
}
#contents .wrap article:nth-child(5) a::before{
  background-image: url(../img/20220831271552.png);
  height: 336px;
}
#contents .wrap article:nth-child(6) a::before{
  background-image: url(../img/20220830766739.png);
  height: 212px;
}
#contents .wrap article a h3 {
 
  line-height: 3.4;
}
#contents .wrap article a h3 strong {
 
}
/* 컨텐츠 right */
#contents .wrap div.right {
  width: calc((100% - 50px) / 4);
  background-color: #C8E2E0;
  padding: 35px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#contents .wrap div.right h3 {
  text-align: 1eft;
  line-height: 1.4;
  padding: 24px 0 80px;
  font-weight: bold;
  color: #00A5B1;
}
#contents .wrap div.right ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
}
#contents .wrap div.right ul li {
 
}
#contents .wrap div.right ul li::before {
  content: "";
  display: inline-block;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#contents .wrap div.right ul li:nth-child(1)::before {
  background-image: url(../img/20200607331899.jpg);
  height: 174px;
}
#contents .wrap div.right ul li:nth-child(2)::before {
  background-image: url(../img/20200607773031.jpg);
  height: 174px;
}
#contents .wrap div.right ul li h4 {
  padding-top: 50px;
  text-align: center;
  font-weight: bold;
}
#contents .wrap div.right ul li p {
  text-align: center;
  padding: 30px 0 20px;
  line-height: 1.4;
}
#contents .wrap div.right ul li a {
  text-align: center;
  margin-bottom: 30px;
  background-color: #00A5B1;
  line-height: 2;
  font-size: 14px;
  color: white;
  display: inline-block;
  border-radius: 12px;
  padding: 0 10px;
}
/* 뉴스 */

#news {
  
}
#news .wrap {
  
}
#news .wrap h2 { 
  margin-bottom: 30px;
}
#news .wrap ul {
  
}
#news .wrap ul li {
  
}
#news .wrap ul li a {
  width: fit-content;
  margin: 0 auto;
}
#news .wrap ul li a figure {
  
}
#news .wrap ul li a figure img {
  width: 228px;
}
#news .wrap ul li a figure figcaption {
  
}
#news .wrap ul li a figure figcaption h3 {
  line-height: 2.5;
  font-size: 14px;
  letter-spacing: -1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 228px;
}
#news .wrap ul li a figure figcaption p {
  
}
#news .wrap ul .slick-prev::before, #news .wrap ul .slick-next::before{
  color: #00A5B1;
  font-size: 40px;
}
#news .wrap ul .slick-prev, #news .wrap ul .slick-next{
  width: 40px
}
#introduction {
  background-color: #eee;
}
#introduction .wrap {
  /*! padding: 50px 0; */
}
#introduction h2 {

}
#introduction ul {

  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: auto auto auto auto;
}
#introduction ul li {

}
#introduction ul li a {

}
#introduction ul li a h3 {

  font-size: 0;
  color: white;
}
#introduction ul li a p {

  line-height: 1.2;
  padding-top: 320px;
}
#introduction ul li:nth-child(1) {
  grid-column: 1 / span 2;
  grid-row: 1;
  font-size: 0;
  background-image: url(../img/20230314322177.jpg);
  height: 242px;
  background-repeat: no-repeat;
  background-size: cover;
}
#introduction ul li:nth-child(2) {
  grid-column: 1;
  grid-row: 2 / span3;
  text-align: center;
  font-size: 14px;
  font-stretch: normal;
  color: black;
  height: 476px;
  background-color: white;
  padding top: 10px;
  background-image: url(../img/20200623865131.gif);
  background-repeat: no-repeat;
  background-position: center;
}
#introduction ul li:nth-child(3) {
  grid-column: 2;
  grid-row: 2 / span 3;
  font-size: 0;
  background-image: url(../img/20230314819418.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 476px;
}
#introduction ul li:nth-child(4) {
  grid-column: 1 / span 2;
  /*! grid-row: 4; */
  font-size: 0;
  color: white;
  background-image: url(../img/20230314120130.jpg);
  background-size: cover;
  height: 600px;
}
#introduction ul li:nth-child(5) {
  grid-column: 3;
  grid-row: 1 / span 2;
  background-image: url(../img/20230309868280.gif);
  height: 618px;
  background-repeat: no-repeat;
  background-size: cover;
}
#introduction ul li:nth-child(6) {
  grid-column: 3;
  grid-row: 3 / span 4;
  font-size: 0;
  background-image: url(../img/20230314423839.jpg);
  background-repeat: no-repeat;
  height: 700px;
  background-size: cover;
}